.containerPrice{
    width: 100%;
    padding: 10px;
    background-color: #fff;
    background-image: linear-gradient(
        90deg,
        transparent 79px,
        #abced4 79px,
        #abced4 81px,
        transparent 81px
      ),
      linear-gradient(#eee 0.1em, transparent 0.1em);
      background-size: 100% 1.2em;
      h1{
        font-size: 1.7rem;
        color:#ccc;
        font-family:600;
        border-bottom: 2px solid #abced4;
        margin-bottom: 15px;
        @media(max-width: 470px){
            font-size: 1.3rem;
           }
      }
      h2{
        font-size: 1rem;
        font-family:400;
        margin: 10px 0;
        @media(max-width: 470px){
            font-size: 14px;
           }
        span{
            font-size:14px;
            padding: 1px 3px;
            margin-right: 10px;
            margin-left: 3px;
            background-color:#abced4;
            border-radius: 6px;
            border: 1px solid #abced4;
        }
      }
    
}